/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 

    /* common start */
    .section_title {
        font-size: 24px;
    }
    .section_title_center {
        padding: 0 10px !important;
    }
    /* common end */
    
   /* navbar start */
   .nav_item_btn {
        display: inline-block;
        background-color: #10B981;
        padding: 6px 15px !important;
        margin: 8px !important;
    }
    .nav_item_btn_big {
        padding: 14px 24px !important;
    }
    /* navbar end */

     /* banner start */
     .red_angle {
        width: 35px;
        height: 50px;
        left: 33px;
        top: 58px;
    }
    .yellow_angle {
        width: 30px;
        height: 45px;
        right: 50px;
        top: 90px;
    }
    .blue_angle {
        width: 25px;
        height: 40px;
        right: 45px;
        bottom: 89px;
    }
    .banner_text {
        margin-top: 115px;
        text-align: center;
    }
    .banner_text_heading h1 {
        font-size: 27px;
    }
    .banner_text_heading p {
        margin-top: 25px;
        margin-bottom: 40px !important;
    }
    #search_input {
        font-size: 10px;
        padding: 10px 35px;
    }
    .search_location_icon {
        top: 10px;
        left: 10px !important;
    }
    .search_btn {
        right: 0;
        padding: 5px 8px;
    }
    .banner_text_partner p {
        margin-top: 50px;
        margin-bottom: 0;
    }
    .banner_text_partner_images{
        width: 95%;
        margin: auto;
        padding-bottom: 20px;
    }
    .banner_text_partner_images img{
        width: 56px;
    }
    .banner_slider {
        left: 16px !important;
        width: 95%;
    }
    /* banner end */

    /* feature part start */
    .feature_text_title {
        font-size: 22px;
    }
    .feature_text_price {
        font-size: 18px;
    }
    .mix{
        width: 95%;
        margin: 15px;
    }
    .mixit_item_btn {
        margin-right: 8px;
        padding: 8px 11px !important;
    }
    /* feature part end */

    /* ready start */
    .ready {
        margin-top: 20px;
    }
    .ready_p {
        padding-right: 0;
    }
    .stair {
        margin-left: 5px;
    }
    .ready_person_container{
        display: flex;
        flex-direction: column;
    }
    .ready_person_img{
        width: 30%;
    }
    .ready_btn{
        margin: 15px 0 !important;
    }
    /* ready end */

    /* review start */
    .review_person_container{
        display: flex;
        flex-direction: column;

    }
    .review_person_img_text{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .review_item_overlay {
        height: 380px !important;
        padding: 15px;
    }
    /* review end */

   

 }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 

    /* common start */
    .section_title {
        font-size: 28px;
    }
    .section_title_center {
        padding: 0 50px;
    }
    /* common end */

    /* navbar start */
    .nav_item_btn {
        display: inline-block;
        background-color: #10B981;
        padding: 6px 15px !important;
        margin: 8px !important;
    }
    .nav_item_btn_big {
        padding: 14px 24px !important;
    }
    /* navbar end */

    /* banner start */
    .red_angle {
        width: 55px;
        height: 80px;
        left: 58px;
        top: 98px;
    }
    .yellow_angle {
        width: 30px;
        height: 65px;
        right: 89px;
        top: 152px;
    }
    .blue_angle {
        width: 30px;
        height: 55px;
        right: 77px;
        bottom: 170px;
    }
    .banner_text {
        margin-top: 115px;
        text-align: center;
    }
    .banner_text_heading h1 {
        padding-left: 60px !important;
        padding-right: 60px !important;
        font-size: 36px;
    }
    .banner_text_heading p {
        margin-top: 25px;
        padding-left: 60px;
        padding-right: 60px;
        margin-bottom: 40px !important;
    }
    .search_input_container{
        width: 80%;
        margin: auto;
    }
    .search_location_icon {
        left: 71px !important;
    }
    .search_btn {
        right: 50px;
    }
    .banner_text_partner p {
        margin-top: 50px;
        margin-bottom: 0;
    }
    .banner_text_partner_images{
        width: 75%;
        margin: auto;
        padding-bottom: 20px;
    }
    .banner_slider {
        left: 26px !important;
        width: 95%;
    }
    /* banner end */

    /* feature part start */
    .mix{
        width: 80%;
        margin: 25px
    }
    /* feature part end */

      /* ready part start */
      .ready {
        margin-top: 20px;
     }
     .ready_img_container{
        margin-top: 30px;
     }
     /* ready part end */

     /* review start */
     .review_item_overlay {
        padding: 16px;
    }
  
    /* review start */

    

 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 

     /* common start */
     .section_title {
        font-size: 30px;
    }
    /* common end */

    /* navbar start */
    .nav_item_btn {
        display: inline-block;
        background-color: #10B981;
        padding: 8px 18px !important;
        margin: 13px !important;
    }
    .nav_item_btn_big {
        padding: 14px 25px !important;
    }
    /* navbar end */

    /* banner start */
    .red_angle {
        width: 65px;
        height: 100px;
        left: 80px;
        top: 133px;
    }
    .yellow_angle {
        right: 119px;
        top: 203px;
    }
    .blue_angle {
        right: 106px;
        bottom: 229px;
    }
    .banner_text {
        text-align: center;
    }
    .banner_text_heading h1 {
        padding-left: 100px !important;
        padding-right: 100px !important;
    }
    .banner_text_heading p {
        margin-top: 25px;
        padding-left: 80px;
        padding-right: 80px;
        margin-bottom: 40px !important;
    }
    .search_input_container{
        width: 80%;
        margin: auto;
    }
    .search_location_icon {
        left: 90px;
    }
    .search_btn {
        right: 71px;
    }
    .banner_text_partner p {
        margin-top: 50px;
        margin-bottom: 0;
    }
    .banner_text_partner_images{
        width: 50%;
        margin: auto;
        padding-bottom: 20px;
    }
    .banner_slider {
        left: 70px;
    }
    /* banner end */

    /* feature part start */
    .mix{
        width: 45%;
        margin: 15px;
    }
    /* feature part end */

    /* ready part start */
    .ready {
        margin-top: 50px;
    }
    .ready_img_container{
        margin-top: 30px;
    }
    /* ready part end */

    /* review part start */
    .review_item_overlay {
        padding: 20px;
    }
    
    /* review part end */

    /* article start */
    .article_item_container {
        margin: auto;
        padding: 20px;
    }
    .big_article_container{
        margin-top: 50px;
    }
    /* article end */

    

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    
    /* common start */
    .section_title {
        font-size: 30px;
    }
    .section_title_center {
        padding: 0 30px !important;
    }
    /* common end */


    /* banner start */
    .red_angle {
        left: 62px;
        top: 102px;
    }
    .yellow_angle {
        height: 65px;
        right: 93px;
        top: 154px;
    }
    .blue_angle {
        height: 55px;
        right: 80px;
        bottom: 182px;
    }
    .banner_slider {
        left: 27px;
        width: 95%;
    }
    .banner_text_heading h1 {
        font-size: 33px;
        padding-right: 0px;
    }
    #search_input {
        font-size: 11px;
    }
    .search_btn {
        top: 2px;
        padding: 5px 15px;
    }
    .banner_text_partner p {
        margin-bottom: 0;
    }
    .banner_text_partner p {
        margin-top: 50px;
    }
    .banner_text_partner_images{
        width: 80%;
  
    }
    /* banner end */

     /* feature part start */
    .mix{
        width: 30%;
        margin: 10px;
    }
    /* feature part end */

    
     /* review part start */
     .review_item_overlay {
        padding: 25px;
    }
    
       
    
    /* review part end */

   

}

/* Extra large devices (large desktops, 1200px and up) */

    /* common start */
    .section_title_center {
        padding: 0 60px;
    }
    /* common end */
   
    /* banner part start */
    .banner_text_heading h1 {
        padding-right: 0px;
    }
    /* banner part end */

     /* review part start */
     .review_item_overlay {
        height: 250px;
    }
    
    /* review part end */

/* Extra extra large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) { 
    /* banner start */
    .red_angle {
        left: 82px;
        top: 144px;
    }
    .yellow_angle {
        right: 128px;
        top: 214px;
    }
    .blue_angle {
        right: 114px;
        bottom: 248px;
    }
    .banner_slider {
        left: 75px;
    }
    .banner_text_partner p {
        margin-top: 50px;
    }
    .banner_text_partner_images{
        width: 80%;
  
    }
    /* banner end */

    /* review part start */
   
    
    /* review part end */


 }