/* font */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

/* common start */
body{
    font-family: "Lexend", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.green_btn{
    border-radius: 20px;
    background-color: #10B981;
    color: white;
    font-size: 14px;
    font-weight: 600;
    
}

.section_subtitle_line{
    width: 32px;
    border: 1px solid #F59E0B;
    display: inline-block;
    margin-bottom: 4px;
    margin-left: -35px;
}
.section_subtitle_text{
    font-weight: 500;
    color: #F59E0B;
    display: inline-block;
    margin-bottom: 0;
}

.section_title{
    font-size: 32px;
    font-weight: 600;
    color: #1B1C57;
    margin-top: 12px;
}


.person_img{
    margin-right: 15px;
}

.person_text h5{
    font-size: 18px;
    font-weight: 500;
    color: #0E1735;
    margin-bottom: 0;
}
.person_text p{
    font-size: 14px;
    font-weight: 500;
    color: #888B97;
    margin: 5px 0 0;
}

/* common end */

/* nav bar start */
.navbar_container{
    padding: 20px 0;
}

.nav_item_btn{
    color: #FFFFFF;
    font-weight: 600;
    margin-right: 20px;
    padding: 5px 10px !important;
    background-color: transparent;
    border-radius: 30px;
    outline: 2px solid #FFFFFF;
    z-index: 1;
}
.nav_item_btn:hover{
    color: #047857;
    background-color: #D1FAE5;
}
.nav_item_btn_big{
    margin-left: 32px;
    padding: 10px 15px !important;
}
/* nav bar end */

/* banner start */
.banner_container{
    margin-top: -102px;
    z-index: 1;
}
.banner_img{
    z-index: -1;
}
.red_angle{
    width: 65px;
    height: 90px;
    border: 3px solid #EF4444;
    border-right: 0;
    border-bottom: 0;
    border-radius: 5px 0;
    position: absolute;
    left: 71px;
    top: 122px;
}
.yellow_angle{
    width: 40px;
    height: 95px;
    border: 3px solid #F59E0B;
    border-left: 0;
    border-bottom: 0;
    border-radius: 0 5px;
    position: absolute;
    right: 109px;
    top: 182px;
}
.blue_angle{
    width: 40px;
    height: 75px;
    border: 3px solid #3B82F6;
    border-left: 0;
    border-bottom: 0;
    border-radius: 0 5px;
    position: absolute;
    right: 100px;
    bottom: 200px;
}

.banner_slider{
    position: absolute;
    left: 64px;
    bottom: 35px;
    width: 90%; 
}
.banner_slider_content_big{
    
    height: 100px;
    background-color: white;
    border-radius: 30px;
    padding: 24px;  
}
.banner_slider_content_small{

    height: 100px;
    background-color: white;
    border-radius: 30px;
    padding: 24px; 
}
.banner_slider_text h3{
    font-size: 16px;
    font-weight: 600;
    color: #1B1C57;
}
.banner_slider_text p{
    margin-bottom: 0;
    font-size: 12px;
    color: #68799F;
}
.banner_text{
    margin-top: 130px;
}
.banner_text_heading h1{
    font-size: 40px;
    font-weight: 600;
    color: #1B1C57;
    text-transform: capitalize;
    text-shadow: 0 2px 4px #68799F;
    padding-right: 20px;
}
.text_style{
    -webkit-text-fill-color: white;
    -webkit-text-stroke: 1pt #1B1C57;
}
.banner_text_heading p{
    margin-top: 15px;
    font-weight: 400;
    color: #626687;
}
.banner_text_form{
    margin-top: 20px;
}
#search_input{
    border-radius: 20px;
    color: #888B97;
    font-size: 14px;
    font-weight: 500;
    padding: 7px 93px;
}

.search_btn{
    position: absolute;
    top: 0;
    right: 0;
}
.search_location_icon{
    width: 24px;
    height: 24px;
    color: #F59E0B;
    position: absolute;
    top:10px;
    left: 45px;
}
.banner_text_partner p{
    margin-top: 24px;
    font-weight: 400;
    color: #626687;
}
/* banner end */

/* feature start */
.feature{
    margin-top: 120px;

}
.feature_item{

}
.feature_img_container{

}
.feature_img_container img{

}
.feature_img_badge{
    font-size: 14px;
    font-weight: 500;
    padding: 8px 16px;
    position: absolute;
    left: 16px;
    bottom: 16px;
    
}
.feature_img_badge_red{
    background-color: #FEE2E2;
    color: #EF4444;
}
.feature_img_badge_blue{
    background-color: #DBEAFE;
    color: #1D4ED8;
}
.feature_img_badge_green{
    background-color: #D1FAE5;
    color: #047857;
}
.feature_img_badge i{
    margin-right: 8px;
}
.feature_text_container{

}
.feature_text_title{
    margin: 24px 0 8px;
    font-size: 24px;
    font-weight: 500;
    color: #0E1735;
}
.feature_text_price{
    font-size: 20px;
    font-weight: 500;
    color: #3C4563;
}
.feature_person_container{
    margin-top: 24px;
}
.feature_person_img{
    margin-right: 12px;
}
.feature_person_img img{

}
.feature_person_text{
    
}
.feature_person_text h5{
    font-size: 18px;
    font-weight: 500;
    color: #0E1735;
    margin-bottom: 0;
}
.feature_person_text p{
    font-size: 14px;
    font-weight: 500;
    color: #888B97;
    margin: 5px 0 0;
}
/* feature end */


/* ready part start */
.ready{
    margin-top: 120px;
}
.ready_text_container{
    margin-top: 30px;
}
.ready_p{
    color: #626687;
    margin: 16px 0;
    padding-right: 110px;
}
.ready_house_detail{
    
}
.ready_house_detail h4{
    font-size: 16px;
    font-weight: 600;
    color: #1B1C57;
}
.ready_house_detail ul li{
    font-weight: 500;
    color: #3C4563;
}
.ready_house_detail ul li img{
    margin-right: 10px;
}
.stair{
    margin-left: 20px;
}

/* ready part end */