/* font */
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

body{
    font-family: "Lexend", sans-serif;
    font-weight: 400;
    font-size: 16px;
}

/* nav bar start */
.nav_item_btn{
    color: #FFFFFF;
    font-weight: 600;
    margin-right: 24px;
    padding: 8px 16px !important;
    background-color: transparent;
    border-radius: 30px;
    outline: 2px solid #FFFFFF;
}
.nav_item_btn:hover{
    color: #047857;
    background-color: #D1FAE5;
}
.nav_item_btn_big{
    margin-left: 32px;
    padding: 12px 24px !important;
}
/* nav bar end */

/* banner start */
.banner_img{
    
}
.red_angle{
    width: 65px;
    height: 90px;
    border: 3px solid #EF4444;
    border-right: 0;
    border-bottom: 0;
    border-radius: 5px 0;
    position: absolute;
    left: 71px;
    top: 122px;
   

}
.yellow_angle{
    width: 40px;
    height: 95px;
    border: 3px solid #F59E0B;
    border-left: 0;
    border-bottom: 0;
    border-radius: 0 5px;
    position: absolute;
    right: 109px;
    top: 182px;
    

}
.blue_angle{
    width: 40px;
    height: 75px;
    border: 3px solid #3B82F6;
    border-left: 0;
    border-bottom: 0;
    border-radius: 0 5px;
    position: absolute;
    right: 100px;
    bottom: 200px;
   

}

.banner_slider{
    position: absolute;
    left: 64px;
    bottom: 35px;
    width: 90%;
    
    
}
.banner_slider_content_big{
    
    height: 100px;
    background-color: white;
    border-radius: 30px;
    padding: 24px;
    
}
.banner_slider_content_small{

    height: 100px;
    background-color: white;
    border-radius: 30px;
    padding: 24px;
    
}
.banner_slider_text h3{
    font-size: 16px;
    font-weight: 600;
    color: #1B1C57;
}
.banner_slider_text p{
    margin-bottom: 0;
    font-size: 12px;
    color: #68799F;
}
/* banner end */